@import url(themes.css);
@import url(cards.css);
@keyframes Fade { from
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
body {
  color: var(--text-color);
  background-color: var(--background);
  background-image: var(--background);
  background-attachment: fixed;
  position: relative;
  height: 100vh;
  text-align: center;
  background-size: cover;
  -webkit-background-size: cover;
    
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    display: none;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--accent); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--accent); 
  }

h1 , h2 , h3  {
  font-family: "Google Sans"; font-weight: 700; color: var(--text-color);
}

h1 { font-size: 50px; }

#splash { font-size: 24px; }

p { font-size: 20px; }

h1 > span {
  font-family: "Google Sans"; font-weight: 700; color: var(--background);
    color: var(--accent);
}

@keyframes slideInFromLeft {
  0% {
    transform: translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: perspective(3000px)
      rotateY(20deg)
      translate(-50%, -50%);
      opacity: 1;
  }
}

.center-container {
  
  position: absolute;
	left: 50%;
	top: 50%;
  box-shadow: 0px 2px 10px #000000;
  transform:
              translate(-50%, -50%);
}

.contItem {
  border-width:25px; 
  border-radius:25px; 
  padding: 25px;
}

@keyframes slideInFromRight {
  0% {
    transform: translate(-20%, -50%);
    opacity: 0;
  }
  100% {
    transform: translate(10%, -50%);
      opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes slideInFromTop { from
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

@keyframes gridLoad {
  0% {
    transform: translate(0, -1%);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0%);
      opacity: 1;
  }
}

.logori {
animation: 1s ease-out 0s 1 slideInFromRight;
position: absolute;
right: 8%;
top: 50%;
border-radius: 25px;
box-shadow: 0px 2px 10px #000000;
transform:
translate(10%, -50%);
}
a, a:visited {
    color: var(--accent);
    text-decoration: none;
    transition: 0.4s all;
}

a:hover {
    text-decoration: underline;
    filter: brightness(80%);
}

button {
    border: 2px solid;
    color: var(--text-color);
    background-color: var(--accent);
    
    padding: 8px 15px;
    border: none;
    font-size: 18px;
    border-radius: 10px;   
    transition: 0.4s all;
}

.play { font-family: "Google Sans"; color: var(--text-color); background-color: var(--accent);}

button:hover {
    filter: brightness(80%);
    cursor: pointer;
}

.links {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

.links .left,
.links .right {
    display: flex;
    font-size: 18px;
    margin-bottom: 10px;
}

.links a {
    margin-right: 25px;
    color: var(--text-color);
}

.links a:hover {
    text-decoration: underline;
    filter: brightness(100%);
}
.links .left {
    margin-left: 25px;
    justify-content: flex-start;
}

.links .right {
    justify-content: flex-end;
}

.gamecontainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}



#gameInfo {
    width: 25%;
    height: 95%;
    backdrop-filter: blur(10px);
    outline: 1.5px solid var(--border);
    background-color:var(--navbar);
    border-width:0px;
    border-spacing:100px;
    border-radius:25px;
    border-style:solid;
    margin-left: 6px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-top: 55px;
  }
  
  #frame {
    width: 75%;
    height: 95%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
  }
  #gameInfo .gameHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10% 25px;
  }
  
  #gameInfo div img {
    aspect-ratio: 1 / 1;
    height: 75px;
    border-radius: 5px;
  }
  
  #gameInfo div h3 { margin-left: 15px; }
  
  #gameInfo { position: relative; }
  
  #gameInfo #menubtns {
    position: absolute;
    bottom: 8px;
    width: 100%;
  }
  #menubtns button {
    font-family: "Google Sans";
    padding: 5px 5px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    height: 50px;
    width: 50px;
    background-color: var(--accent);
    color: #ffffff;
    font-weight: bold;
    opacity: 1;
    transition: 0.4s all;
    margin: 5px 5px;
  }
  
  #menubtns button:hover {
    opacity: 1;
    scale: 1.1;
  }
  
  #gameInfo #gameDescription {
    margin: 15px;
  }

  .pxyinput {
    width: 635px;
    height: 50px;
    margin: 10px;
  }

  input[type=text], button.secondary, select {
     background-color: var(--background);
     transition: 0.4s border;
     border-radius: 5px;
     border: none;
     font-size: 20px;
     color: white;
     text-align: center;
     padding: 5px 15px;
     margin: 5px auto;
  }
  input[type=text]:focus {
    outline: none;
 }

 button.secondary img {
  height: 25px;
  width: 25px;
  margin-top: 5px;
  border-radius: 5px;
 }

#search {
background-color: #111;
transition: 0.4s border;
border-radius: 5px;
border: none;
font-size: 20px;
width: 500px;
height: 45px;
color: white;
text-align: center;
padding: 5px 15px;
margin: 5px auto;
}

 .frame {
  border-radius: 5px;
  background-color: white;
  display: block;
  margin: auto;

  border: none;
  
  height: calc(100vh - 80px);
  width: calc(100vw - 30px);
}

.DateTime{
  position: fixed;
  z-index: 1000;
  right:20px;
  top:20px;
  box-shadow: 0px 2px 10px #000000;
  background-color: var(--navbar);
  border-radius: 25px;
  backdrop-filter: blur(10px);
  outline: 1.5px solid var(--border);
  padding: 10px;
}