@import url(master.css);

nav {
  height: 90%;
  padding: 10px 5px;
  margin: 0;
  margin-bottom: 25px;
  margin-top: 25px;
  margin-left: 30px;
  margin-bottom: 25px;
  background-color: var(--navbar);
  border-radius: 25px;
  backdrop-filter: blur(10px);
  outline: 1.5px solid var(--border);
  position: fixed;
  left: 20px;
  transform: translate(-52.5%, 0);
  z-index: 99;
  width: 65px;
  box-shadow: 0px 2px 10px #000000;
}



navbarly {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items:stretch;
  padding: 0 20px;
  margin: 0;
  margin-bottom: 20px;
  background-color: color(#ffffff96);
  border-radius: 20px;
}

nav .navitems {
  
  margin: 0;
  padding: 0;
  opacity: 1;
}

nav .logo {

  align-items: center;
}

nav .logo h1 { margin-left: 15px; font-size: 30px; }

nav a {
  color: var(--text);
  text-decoration: none;
  font-size: 18px;
  margin: 8px;
  transition: all 0.6s;
  padding: 10px 15px;
  border-radius: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s all;

}

nav a:visited {
  color: var(--text);
}

nav img {
  height: 40px;
}

nav .navitem a {
  position: relative;
}

nav a[selected], nav .navitem a:hover {
  background-color: var(--accent);
  text-decoration: none;
  color: var(--background);
  filter: brightness(100%);
}

/*nav .navitem a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--accent);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  nav .navitem a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}*/

nav .navitem a:hover {
  text-decoration: none;
  filter: brightness(90%)
}



nav .navitem:not(:last-child)::after {
  content: "------";
  margin: 0 5px;
  color: gray;
} 




.navitem a span {
  width: 0; /* Initial position outside the parent */
  opacity: 0; /* Initial opacity */
  transition: 0.3s all; /* Transition properties */
}

.navitem a:hover span {
  width: 100%; /* Slide in the span to the original position */
  opacity: 1; /* Fade in the span */
}
@keyframes navScroll {
  0% {
  opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navScroll2 {
  0% {
  opacity: 1;
  }
  100% {
    opacity: 0;
  }
}